@model IEnumerable<BookLibrary.Application.DataTransferObjects.BookDto>

@{
    ViewData["Title"] = "Royal Libray";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get Start</h1>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-controller="Book" asp-action="Index" method="post">
                <div class="mb-3">
                    <label for="searchValue" class="form-label">Search Value:</label>
                    <input type="text" class="form-control" name="searchValue" placeholder="Search for anything you want">
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopiesInUse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCopies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CopiesInUse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    @*             <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
                </tr>
        }
        
}
    </tbody>
</table>
